In [1]:
from sklearn import tree
import pandas as pd
import numpy as nm
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split


dt = pd.read_csv('train.csv')
dt
# y= dt.num
# X= dt[['sex','exang']]

# clf = tree.DecisionTreeClassifier(criterion = 'entropy')
# clf.fit(X,y)
# 

# tree.plot_tree(clf, filled=True)

     sex  exang  num
0      1      1    1
1      1      1    1
2      1      0    1
3      1      0    0
4      1      0    1
..   ...    ...  ...
233    1      0    0
234    1      1    0
235    1      0    1
236    1      1    1
237    1      0    0

[238 rows x 3 columns]